# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/${DB_NAME}
SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}

# RabbitMQ Configuration
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=${RABBIT_USERNAME}
SPRING_RABBITMQ_PASSWORD=${RABBIT_PASSWORD}
SPRING_RABBITMQ_QUEUES_DEPLOYMENT=zeta.deployments
SPRING_RABBITMQ_QUEUES_DELETE=zeta.delete

# Object Storage (MinIO)
APP_OBJECT_STORAGE_SERVICEURL=http://localhost:9000
APP_OBJECT_STORAGE_USERNAME=${MINIO_USERNAME}
APP_OBJECT_STORAGE_PASSWORD=${MINIO_PASSWORD}
APP_OBJECT_STORAGE_BUCKET=zeta

# Registry Configuration
APP_REGISTRY_SERVICEURL=http://localhost:5000
APP_IMAGE_ENGINE_URL=http://localhost:6969

# Runner Configuration
APP_REGISTRY_CLUSTERIP=${REGISTRY_CLUSTERIP}
APP_REGISTRY_PORT=5000
APP_RUNNER_BASE_IMAGE=registry.zeta.svc.cluster.local:5000/zeta-base-runner-python:0.0.1

# Shared config
APP_NAMESPACE=zeta
